body {
	 font-family: 'Raleway', sans-serif;
	 background-image:url("1.jpg");
	 background-size: cover;
	 
	 height: 100vh;
	 overflow: hidden;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-weight: 300;
	 width: 100vw ;
}
 .all {
	 display: flex;
	 perspective: 10px;
	 transform: perspective(300px) rotateX(20deg);
	 will-change: perspective;
	 perspective-origin: center center;
	 transition: all 1.3s ease-out;
	 justify-content: center;
	 transform-style: preserve-3d;
}
 .all:hover {
	 perspective: 1000px;
	 transition: all 1.3s ease-in;
	 transform: perspective(10000px) rotateX(0deg);
}
 .all:hover .text {
	 opacity: 1;
}
 .all:hover > div {
	 opacity: 1;
	 transition-delay: 0s;
}
 .all:hover .explainer {
	 opacity: 0;
}
 .left, .center, .right, .lefter, .righter {
	 width: 200px;
	 height: 150px;
	 transform-style: preserve-3d;
	 border-radius: 10px;
	 border: 1px solid #fff;
	 box-shadow: 0 0 20px 5px rgba(196, 75, 75, 0.4);
	 opacity: 0;
	 transition: all 0.3s ease;
	 transition-delay: 1s;
	 position: relative;
	 background-position: center center;
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-color: rgba(196, 75, 75, 0.4);;
	 cursor: pointer;
	 background-blend-mode: color-burn;
}
 .left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
	 box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
	 background-color: #ccf;
}
 .text {
	 transform: translateY(30px);
	 opacity: 0;
	 transition: all 0.3s ease;
	 bottom: 0;
	 left: 5px;
	 position: absolute;
	 will-change: transform;
	 color: #fff;
	 text-shadow: 0 0 5px rgba(100, 100, 255, .6);
}
 .lefter {
	 transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
	 background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}
 .left {
	 transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
	 background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}
 .center {
	 text-decoration: none;
	 opacity: 1;
	 background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}
 .right {
	 transform: translateX(30px) translateZ(-25px) rotateY(5deg);
	 background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}
 .righter {
	 transform: translateX(60px) translateZ(-50px) rotateY(10deg);
	 background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}
 .explainer {
	text-decoration: none;

	 font-weight: 300;
	 font-size: 2rem;
	 color: #fff;
	 transition: all 0.6s ease;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(196, 75, 75, 0.4);
	 background-image: radial-gradient(circle at center top, #cce, rgb(133, 37, 53));
	 border-radius: 10px;
	 text-shadow: 0 0 10px rgba(255, 255, 255, .8);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .ref {
	 background-color: #000;
	 background-image: linear-gradient(to bottom, #d80, #c00);
	 border-radius: 3px;
	 padding: 7px 10px;
	 position: absolute;
	 font-size: 16px;
	 bottom: 10px;
	 right: 10px;
	 color: #fff;
	 text-decoration: none;
	 text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}
 .ref::first-letter {
	 font-size: 12px;
}


.but
{
	position:absolute;
	top:8%;
	left: 5%;
}
.but a {
	text-decoration: none;
	border: 3px solid rgb(143, 58, 43);
	color: transparent;
	padding: 40px 80px;
	font-size: 28px;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 0.5s;
	position: relative;
  }
  .but a:before {
	content: "Hover Me";
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(143, 78, 47);
	background: rgb(34, 34, 34);
	font-size: 28px;
	top: 0;
	left: 100%;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 1s;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: scale(0) rotatey(0);
	opacity: 0;
  }
  .but a:hover:before {
	transform: scale(1) rotatey(360deg);
	left: 0;
	opacity: 1;
  }
  .but a:after {
	content: "Hover Me";
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(194, 119, 84);
	background: rgb(34, 34, 34);
	font-size: 28px;
	top: 0;
	left: 0;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 1s;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: scale(1) rotatey(0);
	opacity: 1;
  }
  .but a:hover:after {
	transform: scale(0) rotatey(360deg);
	left: -100%;
	opacity: 0;
  }




  
.close {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 14px;
	top:15px;
	background: #455a64;
	border-radius: 50%;
	box-shadow: 0 0 20px -5px rgba(255, 255, 255, .5);
	transition: 0.25s ease-in-out;
	cursor: pointer;
	animation: fade-in 0.5s ease-out 0.25s both;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(1.1);
   }
}
.close .circle path {
	stroke: rgba(255, 255, 255, 1);
	fill: none;
	stroke-width: 1px;
	stroke-linecap: round;
	animation: progress 0.5s ease-out 0.25s both;
}
@keyframes progress {
	from {
		stroke-dasharray: 0 100;
   }
}
.close span {
	display: block;
	width: 13px;
	height: 2px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 20px -5px rgba(255, 255, 255, .5);
	border-radius: 20px;
	position: absolute;
	transition: 0.25s ease-in-out;
	animation: slide-in 0.5s ease-in-out 0.25s both;
}
@keyframes slide-in {
	from {
		width: 0;
   }
}
.close span:nth-child(1) {
	top: 19px;
	left: 20px;
	transform: rotate(45deg);
	transform-origin: top left;
}
.close span:nth-child(2) {
	top: 19px;
	right: 20px;
	transform: rotate(-45deg);
	transform-origin: top right;
}
.close span:nth-child(3) {
	bottom: 19px;
	left: 20px;
	transform: rotate(-45deg);
	transform-origin: bottom left;
}
.close span:nth-child(4) {
	bottom: 19px;
	right: 20px;
	transform: rotate(45deg);
	transform-origin: bottom right;
}
.close:hover {
	background: #37474f;
}
.close:hover span {
	width: 15px;
}
